* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #f8f8f8;
}

.fa-regular {
    margin-right: 10px;
}

ul li {
    list-style-type: none;
}

.bg-light {
    background-color: #ffffff !important;
    box-shadow: 0 0 7px 0 #c7c7c7;
}

.navbar-brand img {
    height: 59px;
}

#navbarSupportedContent {
    margin-top: 10px;
}

.navbar-nav.mr-auto {
    margin-left: 35px;
}

.navbar-nav a {
    color: black;
    text-decoration: none;
}

.dropbtn {
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px;
    background: #ffffff;
}

.courses-drop {
    width: 300px;
}

.cloud-drop {
    width: 280px;
}

.more-drop {
    width: 175px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #90d6b3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn a:hover {
    color: #90d6b3;
}


/* Blog Section */

.user-image img {
    height: 35px;
    border-radius: 100%;
}

.user-login {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgb(209, 209, 209);
    transition-duration: 1s;
}

.user-login:hover {
    border: 1px solid #a6e1c1;
}

.user-login h2 {
    font-size: 19px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.user-login p {
    font-size: 15px;
    color: #575757;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-account {
    border: 1px solid #88d8a8;
    padding: 6px 17px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #6baa84;
}

.create-account:hover {
    background-color: #a3e3bb;
    color: white;
}

.log-in {
    padding: 7px 17px;
    border-radius: 8px;
    text-align: center;
    color: rgb(92, 92, 92);
}

.log-in:hover {
    background-color: #e7e4ff;
}


/* .category-links {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgb(209, 209, 209);
} */

.category-links ul li img {
    height: 19px;
    margin-right: 10px;
}

.category-links h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.category-links ul li {
    align-items: center;
    line-height: 40px;
    padding: 3px 10px;
    border-radius: 4px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
}

.category-links ul li a {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 6px;
    color: black;
}

.category-links ul li a:hover {
    background-color: #ceeada;
    color: white;
}

.social-category ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-category ul li {
    padding: 7px;
    border: 1px solid transparent;
}

.social-category ul li:hover {
    background: #94d5ac75;
    border-radius: 4px;
}

.social-category ul li img {
    height: 20px;
}

.social-category ul li:nth-child(6) img {
    height: 28px;
}

.popular-tags ul li {
    padding: 2px 16px;
}

.scrolling-tag {
    overflow-y: scroll;
    flex-wrap: nowrap;
    height: 300px;
}

.scrolling-tag ul li a {
    font-size: 15px;
    color: #454545;
    font-family: "Noto Sans", sans-serif;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.scrolling-tag ul li a:hover {
    background-color: #cfffdf;
    color: #9e7be8;
}

.popular-tags h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
}


/* .category-links ul li:hover a {
    color: blue;
} */


/* Blog */

.content {
    width: 54%;
}

.blog-cont {
    background-color: #ffffff;
    border-radius: 8px;
    transition-duration: 1s;
    border: 1px solid #ebebeb;
}

.blog-cont:hover {
    box-shadow: 4px 4px 5px #a2dfb885;
    border: 1px solid #c386f8;
}

.blog-image img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.outer-detail-cont {
    /* background-color: red; */
    margin-left: 55px;
}

.blog-user-cont {
    display: flex;
    align-items: center;
    margin-left: 9px;
}

.blog-details {
    padding: 10px;
}

.user-details {
    margin-left: 12px;
    margin-top: 10px;
}

.user-details p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.user-details a {
    text-decoration: none;
    font-size: 12px;
    color: rgb( 82, 82, 82);
}

.blog-title {
    margin-top: 0px;
}

.blog-title h2 a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}

.blog-title h2 a:active {
    color: #a2f0c1;
}

.blog-tags {
    margin-left: -10px;
}

.blog-tags ul {
    display: flex;
}

.blog-tags ul li a {
    padding: 4px 10px;
    font-size: 13px;
    color: black;
    border: 1px solid transparent;
}

.blog-tags ul li:nth-child(1) a:hover {
    text-decoration: none;
    background-color: #eeeeee;
    border: 1px solid grey;
    border-radius: 8px;
}

.blog-tags ul li:nth-child(2) span {
    color: #bf6868;
}

.blog-tags ul li:nth-child(2) a:hover {
    text-decoration: none;
    background-color: #f2e7e7;
    border: 1px solid #bf6868;
    border-radius: 8px;
}

.blog-tags ul li:nth-child(3) span {
    color: rgb(59 73 223);
}

.blog-tags ul li:nth-child(3) a:hover {
    text-decoration: none;
    background-color: rgb(218, 220, 247);
    border: 1px solid rgb(59 73 223);
    border-radius: 8px;
}

.blog-tags ul li:nth-child(4) span {
    color: rgb(38 190 0);
}

.blog-tags ul li:nth-child(4) a:hover {
    text-decoration: none;
    background-color: rgb(207, 248, 197);
    border: 1px solid rgb(38 190 0);
    border-radius: 8px;
}

.blog-reactions {
    margin-left: -10px;
}

.blog-reactions ul {
    display: flex;
    justify-content: space-between;
}

.blog-reactions ul div:nth-child(1) {
    display: flex;
}

.blog-reactions ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-reactions ul li a {
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.blog-reactions ul li a:hover {
    background: #efefef;
    border: 1px solid grey;
}

.blog-reactions ul li:nth-child(2) a:hover {
    background-color: #f4fcfd;
    border: 1px solid rgb(203 247 255);
}

.blog-reactions ul li a img {
    margin-right: 6px;
}

.blog-reactions ul li img {
    height: 15px;
}

.blog-reactions ul div:nth-child(2) li {
    display: flex;
    justify-content: center;
}

.blog-reactions ul div:nth-child(2) li span {
    font-size: 12px;
    margin-right: 10px;
}

.blog-reactions ul div:nth-child(2) li img {
    height: 16px;
}

.blog-reactions ul div:nth-child(2) li a {
    /* background-color: lightblue; */
    padding: 8px 8px;
}

.blog-reactions ul div:nth-child(2) li a:hover {
    background-color: #faf9f9;
    border: 1px solid #f0f0f0;
}

#heart {
    color: grey;
    cursor: pointer;
}

#heart.red {
    color: red;
}


/* Blog Sidebar */

.blog-sidebar {
    /* background-color: grey; */
}

.challenge-cont {
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    padding: 14px;
    transition-duration: 1s;
}

.challenge-cont:hover {
    border: 1px solid #a6e1c1;
}

.challenge-head {
    display: flex;
    align-content: center;
}

.challenge-footer {
    display: flex;
    align-items: baseline;
}

.challenge-head img {
    height: 18px;
}

.challenge-head p {
    margin-left: 10px;
    font-size: 13px;
}

.challenge-footer p {
    margin-right: 10px;
    font-size: 13px;
}

.challenge-footer img {
    height: 18px;
}

.challenge-middle {
    /* background-color: #768d7c; */
}

.challenge-middle h3 {
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}

.challenges-box {
    border: 2px solid black;
    padding: 14px 12px;
    border-radius: 8px;
    line-height: 26px;
}

.challenges-box p {
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(47 47 47);
}

.challenges-box a {
    font-weight: 700;
    color: #3b49df;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 16px;
}

.challenges-box .challenges-para2 {
    font-size: 13px;
}


/* Discuss */

.discuss {
    background-color: #ffffff;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    padding: 14px;
}

.discuss-head {
    border-bottom: 1px solid rgb(245 245 245);
}

.discuss-head h2 {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: rgb(70 64 64);
}

.discuss-head p {
    font-size: 12px;
}

.discuss-bars-cont .discuss-bars {
    border-bottom: 1px solid rgb(245 245 245);
}

.discuss-bars {
    margin-top: 12px;
}

.discuss-bars a {
    color: rgb( 64, 64, 64);
    font-size: 15px;
    text-decoration: none;
    font-family: "Libre Franklin", sans-serif;
    /* font-optical-sizing: auto; */
}

.discuss-bars a:hover {
    color: rgb( 47, 58, 178);
}

.bar-btn {
    background-color: rgb(252, 211, 77);
    display: block;
    width: 11%;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 13px;
    color: rgb(120, 53, 15);
    margin-top: 4px;
    margin-bottom: 12px;
}


/* Footer Area */

footer {
    background-color: #c2e4c3;
    padding: 50px 0 20px;
}

.logo-box {
    background-color: #ffffff;
    padding: 18px 20px;
    border-radius: 10px;
}

.logo-box img {
    height: 75px;
}

.foot-para {
    font-size: 13px;
    text-align: start;
    margin-top: 16px;
    color: black;
    line-height: 22px;
}


/* .foot-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-explore h2 {
    margin-left: -120px;
} */

footer h2 {
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

footer ul li a {
    color: black;
    font-size: 15px;
    line-height: 31px;
}

footer ul li a:hover {
    text-decoration: none;
    color: black;
}

.fa-angles-right {
    margin-right: 10px;
}

.fa-location-dot {
    margin-right: 10px;
}

.fa-envelope {
    margin-right: 10px;
}

ul.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 13px
}

.footer-social-media a img {
    height: 45px;
    background: #768d7c;
    padding: 9px;
    border-radius: 4px;
}

.footer-bottom p {
    text-align: center;
    margin: 30px 0 0 !important;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}